src/main/resources/wsdl/produits.wsdl

<!--  Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<!--  Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419.  -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.javaws.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.javaws.com/" name="WSProduitService">
<types>
<xsd:schema>
<xsd:import namespace="http://services.javaws.com/" schemaLocation="http://localhost:8081/services?xsd=1"/>
</xsd:schema>
</types>
<message name="listProduit">
<part name="parameters" element="tns:listProduit"/>
</message>
<message name="listProduitResponse">
<part name="parameters" element="tns:listProduitResponse"/>
</message>
<message name="deleteProduit">
<part name="parameters" element="tns:deleteProduit"/>
</message>
<message name="deleteProduitResponse">
<part name="parameters" element="tns:deleteProduitResponse"/>
</message>
<message name="updateProduit">
<part name="parameters" element="tns:updateProduit"/>
</message>
<message name="updateProduitResponse">
<part name="parameters" element="tns:updateProduitResponse"/>
</message>
<message name="getProduit">
<part name="parameters" element="tns:getProduit"/>
</message>
<message name="getProduitResponse">
<part name="parameters" element="tns:getProduitResponse"/>
</message>
<message name="createProduit">
<part name="parameters" element="tns:createProduit"/>
</message>
<message name="createProduitResponse">
<part name="parameters" element="tns:createProduitResponse"/>
</message>
<portType name="ProduitWS">
<operation name="listProduit">
<input wsam:Action="http://services.javaws.com/ProduitWS/listProduitRequest" message="tns:listProduit"/>
<output wsam:Action="http://services.javaws.com/ProduitWS/listProduitResponse" message="tns:listProduitResponse"/>
</operation>
<operation name="deleteProduit">
<input wsam:Action="http://services.javaws.com/ProduitWS/deleteProduitRequest" message="tns:deleteProduit"/>
<output wsam:Action="http://services.javaws.com/ProduitWS/deleteProduitResponse" message="tns:deleteProduitResponse"/>
</operation>
<operation name="updateProduit">
<input wsam:Action="http://services.javaws.com/ProduitWS/updateProduitRequest" message="tns:updateProduit"/>
<output wsam:Action="http://services.javaws.com/ProduitWS/updateProduitResponse" message="tns:updateProduitResponse"/>
</operation>
<operation name="getProduit">
<input wsam:Action="http://services.javaws.com/ProduitWS/getProduitRequest" message="tns:getProduit"/>
<output wsam:Action="http://services.javaws.com/ProduitWS/getProduitResponse" message="tns:getProduitResponse"/>
</operation>
<operation name="createProduit">
<input wsam:Action="http://services.javaws.com/ProduitWS/createProduitRequest" message="tns:createProduit"/>
<output wsam:Action="http://services.javaws.com/ProduitWS/createProduitResponse" message="tns:createProduitResponse"/>
</operation>
</portType>
<binding name="ProduitWSPortBinding" type="tns:ProduitWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listProduit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateProduit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProduit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProduit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSProduitService">
<port name="ProduitWSPort" binding="tns:ProduitWSPortBinding">
<soap:address location="http://localhost:8081/services"/>
</port>
</service>
</definitions>